body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.window {
    margin-top: 233px;
    margin-left: 373px;

}

.wrapper {
    position: relative;
    width: 440px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow:0px 2px 2px #c8c8c8 ;

}

.wrapper > .images {
    width: 440px;
    height: 220px;
    display: flex;
    align-items: flex-start;
    transition: all 1.2s;
    /*cursor:pointer*/
}


.wrapper > #buttons {
    z-index: 2;
    position: absolute;
    right: 16px;
    bottom: 12px;
    line-height: 26px;
    margin-bottom: 4px;
    display: flex;
    flex-flow: row;
    align-content: center;

}

.wrapper > #buttons > span {
    cursor:pointer;
    margin-left: 18px;
    width: 8px;
    height: 8px;
    background: #f3fafd;
    filter: blur(0.3px);
    border-radius: 50%;
    position: relative;
    border: 1px white solid;
}

.wrapper > #buttons > span.svg{
    pointer-events: none;
    background-image: url("pacman.svg");
    transform: scale(1.9);
}
.wrapper > #buttons > span:hover{

    background: #339fd6;
    transform: scale(1.5);
}



.wrapper > .title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0 0 8px 10px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    width: 440px;
    background: linear-gradient(transparent,rgba(0,0,0,.5));

}

.wrapper > .title > a {
    color: #ffffff;
    font-size: 14px;

}

